.inputTable {
  font-family: "Brush Script MT";
  color: black;
  
  width:100%;
  height:100%;
}
.inputKey {
  font-family: "Brush Script MT";
  color: black;
  text-align: center;
}

section.press button {
  color: #fff;
  background-color: #6D7993;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  width:50px;
}

section.press button:hover,
section.press button.hover {
  background-color: #9099A2
}

section.press button:active,
section.press button.active {
  background-color: #96858F;
  box-shadow: 0 5px #27496d;
  transform: translateY(3px);
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:1;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
}
